## ddclient configuration for Dynu
daemon=60                                                # Check every 60 seconds.
syslog=yes                                               # Log update msgs to syslog.
pid=/var/run/ddclient.pid                                # Record PID in file.                                      
use=web, web=checkip.dynu.com/, web-skip='IP Address'    # Get ip from server.
server=api.dynu.com                                      # IP update server.
protocol=dyndns2                                         # Protocol for ddclient 
login=LOGIN                                              # Your username.
password=PASWWORD                                        # Password or MD5/SHA256 of password.
DOMAIN                                                   # List one or more hostnames one on each line.
