UID=1001
GID=1001
TZ=Europe/Paris
EULA=true
OVERRIDE_SERVER_PROPERTIES=true
STOP_SERVER_ANNOUNCE_DELAY=10
MOTD=Infinity Dungeon Server
ENABLE_ROLLING_LOGS=true
TYPE=vanilla
VERSION=1.21
SNOOPER_ENABLED=false
MAX_PLAYERS=6
DIFFICULTY=easy
VIEW_DISTANCE=8
SIMULATION_DISTANCE=8
MAX_WORLD_SIZE=10000
SPAWN_PROTECTION=0
ENABLE_COMMAND_BLOCK=true
SEED=
LEVEL=world
ALLOW_NETHER=false
PVP=false
MODE=adventure
FORCE_GAMEMODE=true
HARDCORE=false
OPS=
WHITELIST=
ENFORCE_WHITELIST=false
NETWORK_COMPRESSION_THRESHOLD=128
PLAYER_IDLE_TIMEOUT=0
MEMORY=1G
ENABLE_RCON=false
RCON_PASSWORD=
ONLINE_MODE=true
ENFORCE_SECURE_PROFILE=true
