PUID=1000
PGID=1000
TZ=Europe/Paris
TITLE=Webtop
LC_ALL=fr_FR.UTF-8
START_DOCKER=false
DOCKER_MODS=linuxserver/mods:universal-package-install
INSTALL_PACKAGES=aspell|aspell-fr|colordiff|git|htop|ncdu|neovim|onboard|papirus-icon-theme|parole|ripgrep|thunar-archive-plugin|tmux|xarchiver|zip
