PUID=1002
PGID=1002
TZ=Europe/Paris
TITLE=Webtop
LC_ALL=fr_FR.UTF-8
HOME=/home/abc
FM_HOME=/home/abc
DOCKER_MODS=linuxserver/mods:universal-package-install
INSTALL_PACKAGES=htop|ncdu|ripgrep|tmux|vim
